html {
    background-color: #c49474;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffeedc;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.header {
    background-color: #eecebc;
    padding-top: 10px;
    box-sizing: border box;
}

header h1 {
    text-align: center;
    color: #574134;
    font-weight: normal;
    font-size: 300%;
}

header p {
    text-align: center;
    color: #946f57;
    padding-bottom: 20px;
    font-size: 120%;
}

/* Site Navigation */

.site-nav ul {
  padding: 0;
  margin: 0;
}
.site-nav li {
  list-style-type: none;
  float: left;
  margin: 0 0.5em;
}

.site-nav {
  margin-top: 20px;
  text-align: center;
  width: auto;
}

.site-nav a {
  text-decoration: none;
  display: block;
  color: #886752;
  border: 2px solid #a57d63;
  border-bottom: none;
  box-sizing: border-box;
  padding: 10px 35px;
  margin: 0 auto;
}

.site-nav a:hover {
  color: #775b48;
  background-color:#e4b8a1;
}

/* Main Body */


.main p {
  width: 66%;
  float: left;
  padding-right: 40px;
  box-sizing: border-box;
  font-size: 120%;
  letter-spacing: 2px;
  line-height: 25px;
}

/* Sidebar */

.sidebar {
  width: 34%;
  float: left;
  background-color: #eecebc;
  padding: 20x 20px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
  line-height: 20px;
}

footer p {
    text-align: center;
    font-size: 85%;
    color: #9b7e6f;
    padding-bottom: 20px;
    letter-spacing: 1.5px;
}